<div class="product-card"> 
    <h2>{{product.title}} ({{product.price}} руб.)</h2>
    <div class="descr">{{product.description}}</div>
    <img width="300" src="img_products/{{product.image}}" alt="Фото">
    <button type="submit">Добавить в корзину</button>
       
</div>
