<div class="cart">
    <img src="img_products/{{product.image}}" alt="{{product.title}}">
    <div class="cart-descr">
        {{product.title}} в количестве 15 шт на сумму {{product.price}} рублей
    </div>
    <button type="submit">Удалить</button>
 </div>